$divider-color: #d4d4d4;
$grey-background-color: #eee;
$font-color: #606060;
$avatar-background-color: #b0b0b0c4;

$brand-color: #00adb5;
$brand-darker: #007c82;
$brand-highlight: #00dee8;

$app-top-nav-height: 70px;
